parameters:
    tmpDir: storage/phpstan
    level: 8
    paths:
        - src
        - config
    ignoreErrors:
        - '#Illuminate\\Contracts\\View\\Factory\|Illuminate\\Contracts\\View\\View.#'
        - '#undefined method GuzzleHttp\\Promise\\PromiseInterface\|Illuminate\\Http\\Client\\Response#'
        - '#should return Illuminate\\Http\\Client\\Response but returns GuzzleHttp\\Promise\\PromiseInterface\|Illuminate\\Http\\Client\\Response#'