includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
parameters:
    tmpDir: storage/phpstan
    level: 8
    paths:
        - src
        - config
    ergebnis:
        noNullableReturnTypeDeclaration:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noConstructorParameterWithDefaultValue:
            enabled: false
        noExtends:
            classesAllowedToBeExtended:
                - GuardsmanPanda\Larabear\Infrastructure\Database\Service\LarabearDatabaseBaseInformation
                - GuardsmanPanda\Larabear\Infrastructure\Http\Exception\BearException
                - GuardsmanPanda\Larabear\Infrastructure\Console\Service\BearTransactionCommand
                - Illuminate\Console\Command
                - Illuminate\Database\Eloquent\Model
                - Illuminate\Database\Migrations\Migration
                - Illuminate\Foundation\Application
                - Illuminate\Foundation\Exceptions\Handler
                - Illuminate\Http\Exceptions\HttpResponseException
                - Illuminate\Routing\Controller
                - Illuminate\Support\ServiceProvider
                - Illuminate\View\Component
                - Symfony\Component\Console\Output\ConsoleOutput
    ignoreErrors:
        - '#Variable property access on #'
        - '#Dynamic call to static method #'
        - '#is not the same as PHPDoc type array of overridden property Illuminate\\Database\\Eloquent\\Model::\$casts#'
        - '#Class GuardsmanPanda\\Larabear\\Infrastructure\\Http\\Exception\\BearException is neither abstract nor final.#'
        - '#must be rethrown. Either catch a more specific exception or add a "throw" clause in the "catch" block to propagate the exception#'
