includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
parameters:
    tmpDir: storage/phpstan
    level: 8
    paths:
        - src
        - config
    ignoreErrors:
        - '#Variable property access on #'
        - '#Dynamic call to static method #'
        - '#must be rethrown. Either catch a more specific exception or add a "throw" clause in the "catch" block to propagate the exception#'
